!!! XML
/
  ** Strings **
  Document   : strings.haml
  Created on : #{Time.new}
  Author     : ivan
  Description: .

%resources
  %string{:name => "app_name" } Name Of Application
  %string{:name => "menu_quit"} Quit

